body {
  background-color: #111 !important;
  margin: 0;
  padding: 0;
}

a {
  color: #5973ff !important;
}

button.btn-secondary {
  background-color: #333;
  border-color: #333;

  &:not(:disabled):not(.disabled) {
    &:hover,
    &:active,
    &:focus {
      background-color: #555;
      border-color: #555;
      box-shadow: none !important;
    }
  }
}

input.form-control,
select.form-control {
  border-radius: 2px;
  margin-bottom: 5px;
}

input.form-control {
  padding: 0;
}

select.form-select {
  padding-right: 0.5rem;
  background-position: right 5px center;
}

div.invalid-feedback {
  margin-bottom: 5px;
}

textarea.form-control {
  position: relative;
  width: 100%;
  height: 80px;
  min-height: 80px;
  max-height: 400px;
  padding: 2px 5px;

  &#json-data {
    font-family: monospace;
    font-size: 1rem;
    min-height: 320px;
    max-height: 640px;
    margin-bottom: 8px;
  }
}

.import-room {
  .format-json {
    float: right;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-center {
  text-align: center;
}

.index {
  padding-top: 40px;

  .card .card-title {
    font-size: 1.3em;
  }
}

.header {
  height: 40px;
  background-image: linear-gradient(to bottom, #1f1f1f 0%, #1a1a1a 100%);
  border-bottom: 1px solid #111 !important;
  color: #fff;

  img.logo {
    width: 163px;
    height: 24px;
    margin-bottom: 4px;
  }

  a {
    display: inline-block;
    line-height: 40px;
    padding: 0 10px;

    &:last-child {
      padding-right: 15px;
    }
  }
}

.creep-designer {
  margin: 0 auto;

  .panel {
    margin: 0;
    padding: 10px;
    background-color: #222;
    color: #ccc;
    box-sizing: border-box;
    padding: 10px;

    hr {
      border: none;
      background: #444;
      height: 2px;
    }

    table.stats {
      width: 100%;

      span.spaced {
        padding-left: 4px;
        padding-right: 4px;
      }

      td {
        padding: 2px;

        &:first-child {
          padding: 2px 4px;
        }
      }

      tr {
        &.dark {
          background-color: #666;
        }
        &.light {
          background-color: #efefef;
        }
        &.work {
          background-color: #ffe56d;
        }
        &.attack {
          background-color: #f93842;
        }
        &.ranged_attack {
          background-color: #5d7fb2;
        }
        &.heal {
          background-color: #65fd62;
        }
        &.move {
          background-color: #a9b7c6;
        }

        &.light,
        &.work,
        &.heal,
        &.move {
          color: #444;
          small {
            color: #5e5e5e;
          }
        }

        &.dark,
        &.attack,
        &.ranged_attack {
          color: #fff;
          small {
            color: #eee;
          }
        }
      }
    }

    svg {
      display: block;
      margin: 0 auto;
    }

    table.body {
      width: 100%;
      border-collapse: collapse;

      button {
        position: relative;
        font-size: 11px;
        height: 28px;
        width: 26px;
        padding: 2px 0 3px;
        line-height: normal;
        vertical-align: top;
        z-index: 10;
      }

      select,
      input {
        position: relative;
        display: inline-block;
        height: 28px;
        width: 36px;
        color: #010101;
        border: 1px solid #666;
        margin: 0 1px;
        z-index: 20;
      }

      input {
        text-align: center;
      }

      select {
        padding-top: 0;
        padding-bottom: 0;
        &.controller {
          width: 45px;
        }
        &.boost {
          width: 84px;
        }
      }

      thead {
        th {
          &:nth-child(3) {
            padding-left: 30px;
          }

          &:nth-child(4) {
            text-align: center;
          }

          &:last-child {
            text-align: right;
          }
        }
      }

      tbody {
        tr {
          &.active {
            background-color: #2b2b2b;
          }

          td {
            padding: 3px 8px;

            &.sum {
              text-align: right;

              &.total {
                font-weight: bold;

                &.alert {
                  background-color: #f88;
                  color: #222;
                }
              }
            }
            &.parts-sum {
              padding-left: 43px;
            }
          }
        }
      }
    }

    textarea.creep-body {
      font-family: monospace;
      margin-top: 10px;
    }
  }

  .actions-list {
    display: inline-block;

    .creep-action {
      display: block;
      float: left;
      margin: 0;
    }
  }
}

.building-planner {
  button.burger-menu {
    position: absolute;
    right: 15px;
    top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;

    &:focus {
      outline: none;
    }

    div {
      width: 2rem;
      height: 0.25rem;
      background: #fff;
      border-radius: 10px;
      position: relative;
      transform-origin: 1px;
    }

    &.open div {
      background: #222;
    }

    &:hover div {
      background: #5973ff;
    }
  }

  .controls {
    background-color: #222;
    color: #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: calc(100vh - 40px);
    z-index: 1;

    .structure-brush {
      display: flex;
      justify-content: space-between;

      img {
        width: 24px;
        height: 24px;
      }
      .darker-text {
        color: #999;
      }
    }

    .btn.active {
      .structure-brush .darker-text {
        color: #ccc;
      }
    }

    .btn.cursor-pos {
      width: 110px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .map {
    position: relative;
    flex: 1;
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(50, minmax(2%, 1fr));
    width: auto;
    max-width: calc(100vh - 75px);
    margin: 10px auto;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
      0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    background: rgb(48, 48, 48);
    transform-origin: top center;

    .tile {
      position: relative;

      &::before {
        content: '';
        display: block;
        padding-top: 100%;
      }

      .cell {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        padding: inherit;
        margin: inherit;
        box-shadow: inset 0 0 0 1px rgba(38, 38, 38, 0.2);

        svg {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 3;
          user-select: none;
          max-width: 100%;
          height: auto;
        }

        svg {
          z-index: 2;
        }

        &.wall {
          background: #171717;
        }

        &.swamp {
          background-color: #292b18;
        }

        &.rampart {
          background-color: #314b31;
          box-shadow: inset 0 0 0 1px rgba(67, 134, 67, 0.6);
        }
      }

      &:hover {
        background-color: #555;
        border-color: #555;

        .cell {
          &.wall {
            background-color: #2a2a2a;
          }

          &.swamp {
            background-color: #444638;
          }

          &.rampart {
            background-color: #375d37;
          }
        }
      }
    }
  }
}

form.load-room {
  label {
    margin: 0;
  }
  label.show-structures {
    margin-top: 25px;
  }
  input.form-control,
  select.form-control {
    height: 30px;
  }
  input.form-control {
    padding-left: 5px;
  }
  button {
    width: 100%;
    margin-top: 10px;
  }
}

.loading {
  position: relative;
  display: block;
  height: 30px;
  background: #fff;
  color: #495057;
  line-height: 1.5;
  border-radius: 2px;
  padding: 3px 0 0 10px;
  margin: 0;

  &:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
  }
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: #495057;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 #495057, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 #495057, 0.5em 0 0 #495057;
  }
}
